<div class="product">
  <div class="product__wish-tag clearfix">
    <img class="product__wish-tag-icon" src="./icons/heart.svg" alt="" />
  </div>
  <div class="product-container">
    <div class="product-content">
      <img
        class="product-image"
        src="https://f.i.uol.com.br/fotografia/2021/01/25/1611607387600f2d5bbbb86_1611607387_3x2_md.jpg"
        alt="product"
      />

      <h3 class="product-name">Teste</h3>
      <h2 class="product-price">R$ 4,00</h2>
    </div>
  </div>
</div>
