<div class="header">
  <div class="header-container clearfix">
    <div class="header__logo-container">
      <h1 class="header__logo-title">MagaNets</h1>
    </div>

    <div class="header__action-container">
      <div class="header__actions-list clearfix">
        <div class="header__action action--first">
          <img src="./icons/map-pin.svg" alt="icon" class="action__icon" />
          <h3 class="action__text">Cidade: São Paulo</h3>
        </div>
        <div class="header__action action--middle">
          <img src="./icons/phone.svg" alt="icon" class="action__icon" />
          <h3 class="action__text">Central de atendimento</h3>
        </div>
        <div class="header__action action--last">
          <img src="./icons/heart.svg" alt="icon" class="action__icon" />
          <h3 class="action__text">Lista de desejos</h3>
        </div>
      </div>
      <div class="header__search-container clearfix">
        <img
          class="header__search-icon"
          alt="icon"
          src="./icons/search.svg"
        />
        <input
          type="text"
          name="search-box"
          class="header__search-input"
          placeholder="Buscar"
        />
      </div>
    </div>
  </div>
</div>
