{% extends "layout.njk" %} {% block content %}
<div class="content-container">
  <h1 class="page-title">Home</h1>
  {% include "../components/Product.njk" %}
  {% include "../components/Product.njk" %}
  {% include "../components/Product.njk" %}
  {% include "../components/Product.njk" %}
  {% include "../components/Product.njk" %}
</div>
{% endblock%}
